#movieActors{
display: flex;

    .movieActors{
      overflow-x: scroll; 
width: 920px;
display: flex;
text-align: center;
gap: 20px;
margin-top: 30px;

&--block{

            img{
                width: 150px;
                display: flex;
                border-radius: 10px;
                border: 2px solid black;
                cursor: pointer;
            }
            h1{
                font-size: 16px;
           font-weight: 400;
                padding: 5px;
            }
        }
    }
}